
	section {
		display: flex;
		flex-direction: row;
	}
	
	.item {
		width: 100px;
		height: 100px;
		border: 2px solid black;
		margin: 3px;
	}
	
	button {
		margin: 10px;
		padding: 10px;
		width: 100px;
		height: 40px;
		background:#e0c782;
		color: black;
		font-size: 16px;
	}